.App {
  width: 500px;
  margin: 0 auto;
  display: flex; /* 자식 요소들의 배치를 유연하게 할 수 있도록 도와줌 */
  flex-direction: column; /* 플렉스의 방향 : 열 기준으로 세로로 배치됨 */
  gap: 10px; /* 요소들간의 간격 (display가 flex인 요소에만 적용 가능 )*/
}
